.nav-item {
  margin-right: 20px;
  color: black;
  font-size: 16px;
}
.site-nav__label {
  color: black;
}
.d-block {
  height: 550px;
}
#footer {
  background-color: #000000;
  color: #ffffff;
}
.marque {
  background-color: rgb(53, 53, 131);
}
.marquetxt {
  color: white;
}
.bg {
  width: 100%;
  height: 500px;
}
.card {
  width: 300px;
}
.row {
  width: 1350px;
}
#foot1 {
  background-color: #f1f1f1;
}
#foot2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.album {
  background-color: rgb(124, 222, 247);
  margin-top: 0;
}
.bgimg {
  background-color: rgb(124, 222, 247);
}
